[Desktop Entry]
Version=1.0
Type=Application
Name=BuRid E-book Viewer
GenericName=Viewer for E-books
Comment=Viewer for E-books in some of the major formats
TryExec=ebook-viewer
Exec=burid
Icon=burid
Categories=Graphics;Viewer;Office;
MimeType=appication/epub+zip;
